    * {
        padding: 0;
        margin: 0;
    }

    body {

        font-weight: bold;
        font-family: sans-serif;
    }

    .helpers {
        display: none;
    }

    .curr {
        position: fixed;
        width: 100%;
        height: 15vh;
        margin-top: 85vh;
        background-color: black;

    }
.songImg
{
    float: left;
    width: 10%;

    height: 15vh;
}
    .songBar li
{


   margin-left: 0.1%;;
    margin-top: 0px;
  display: inline-flex;


}
    .thumbnail {

      margin-top: 5px;

        height: 13vh;
        width: 75%;
        margin-left: 15px;
        border-radius: 0px;
        background: url(images/khalbaliI.jpg);
        background-size: cover;


    }
.currDetails
{

   float: right;
    width: 90%;
    
    height: 15vh;

}
    .sname {
        float: left;
        width: 20%;
        height: 15vh;
         line-height: 15vh;

        color: white;
        font-size: 20px;
        text-align: center;
        width: 200px;


    }

    .options {
       float: left;
        height: 15vh;
        width: 25%;

        line-height: 15vh;

    }


    .options i {


        display: inline-flex;
        margin-left: 15%;
        color: white;
        height: 10px;

        transition: 0.5s;
        width: 5%;
        cursor: pointer;

    }



    #prev:hover {
        color: blue;
    }

    #next:hover {
        color: blue;
    }





    /*rep:hover
{
    color: green;
}*/
    #play:hover {
        color: blue;
        /*transform: scale(1.2); */
    }

    .progressBar {

      float: left;
        width: 30%;
       height: 15vh;



    }
    .minisname
{
    position: absolute;
    color: white;
    margin-left: 5%;
    margin-top: 10px;
    display: none;

}
    #progress {
        background-color: dimgray;


margin-top: 7.5vh;
        width: 100%;
        color: white;


        height: 7px;
    }

    #current-time,
    #duration {
        color: white;


      display: inline-block;
        height: 10px;
    }

    #duration {
      float: right;
    }

    .volumeSlider {

       float: left;
       height: 15vh;
       width: 15%;



    }

    .volumeSlider i {
        display: inline-block;
        color: white;

        margin-top: 47px;
    }

    .fa-volume-up {
     float: right;
        margin-right: 2%;
    }

    /*#volume {
	
    margin-top: 50px;
	display: inline-block ;
	margin: 0 auto;
	height: 5px;
	width: 220px;
	background: #555;
	border-radius: 15px;
}*/
    #volume {

        display: inline-block;
       position: absolute;
        margin-top: 50px;
        margin-left: 1.5%;
        height: 5px;
        width: 10%;
        background: #555;
        border-radius: 15px;
    }

    #volume .ui-slider-range-min {

        height: 5px;
        width: 10%;
        position: absolute;
        background: #2ecc71;
        border: none;
        border-radius: 10px;
        outline: none;
    }

    #volume .ui-slider-handle {

        width: 10px;
        height: 10px;
        border-radius: 15px;
        background: #FFF;
        position: absolute;
        margin-left: -3px;
        margin-top: -3px;
        cursor: pointer;
        outline: none;
    }


    .menuBar {

        float: left;
        height: 85vh;
        width: 20%;
        border: 1px solid black;
        background-color: #282929;
        color: white;
        font-size: 20px;

    }

    .menuBar p {
        margin-top: 5%;
        margin-left: 5%;
    }

    #minbar {}

    .playlist {

        float: left;
        width: 80%;
        height: 85vh;
        background-color: gainsboro;

        overflow: auto;
        overflow-x: hidden;
    }

    #Songcol {}

    .collec {
        display: none;
    }

    .info {
        display: none;
    }

    .playlist h1 {
        margin-left: 5%;

    }

    .menuBar > span {



        width: 80%;
        height: 10%;


    }



    .menu {
        width: 100%;
        height: 10%;
        line-height: 50px;

        text-indent: 5%;
        margin-bottom: 0px;

    }

    .menu:hover {
        background-color: rgb(0, 0, 0, 0.5);
    }

    #minbar:checked ~ .menuBar {
        width: 5%;
    }
    #minbar:checked ~ .menuBar #title{
        display: none;
    }
     #minbar:checked ~ .menuBar .minicon{

        margin-right: 50%;

    }
    #minbar:checked ~ .menuBar .menuop{
        display: none;
    }
    #minbar:checked ~.menuBar #searchBox{
        display: none;
    }
    #minbar:checked ~.menuBar .searchButton{
       width: 100%;
    }
    #minbar:checked ~ .menuBar .menu{
        text-align: center;
        text-indent: 0px;
    }
    #minbar:checked ~ .playlist {
        width: 95%;
    }


    #collection:checked ~ .menuBar .menu1 {
        background-color: green;
    }

    #collection:checked ~ .playlist .collec {
        display: block;
    }

    #nowplaying:checked ~ .menuBar .menu2 {
        background-color: green;
    }

    #nowplaying:checked ~ .playlist .info {
        display: block;
    }

#nowplaying:checked ~ .playlist .info #infoImage{
        left: 10%;
    }

    #title {
       margin-left: 15px;

    }
    .minicon
{
    width: 10px;
     float: right;
    margin-right: 8%;
}
    .fa-bars {


        cursor: pointer;



    }

    .fa-bars:hover {
        color: green;
    }





    .col {
        position: fixed;
        height: 12%;
        background-color: gainsboro;
        width: 100%;
        top: 0;

        font-weight: bold;
    }

    h1 {
        font-weight: bold;
    }

    .col2 {

        margin-top: 8%;
    }

    .musicCard {
        margin-left: 2%;
        margin-bottom: 2%;
        height: 40%;
        width: 22%;
        display: inline-block;
        border-radius: 5px;
        font-size: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }



    .musicCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }

    .image {

        height: 175px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .name {

        margin-top: 5%;
        text-align: center;
        height: 10%;

    }

    .info {
        float: left;
        width: 100%;
        height: 85vh;


        overflow: hidden;

        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradientBG 25s ease infinite;
    }

    #text {
        position: absolute;
        top: 20%;
        left: 50%;

        text-transform: uppercase;
        font-family: verdana;
        font-size: 3em;
        font-weight: 700;
        color: #01FF70;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #177a0a,
            1px 3px 1px #177a0a,
            1px 4px 1px #177a0a,
            1px 5px 1px #177a0a,
            1px 6px 1px #177a0a,
            1px 7px 1px #177a0a,
            1px 8px 1px #177a0a,
            1px 9px 1px #177a0a,
            1px 10px 1px#177a0a,
            1px 18px 6px rgba(16, 16, 16, 0.4),
            1px 22px 10px rgba(16, 16, 16, 0.2),
            1px 25px 35px rgba(16, 16, 16, 0.2),
            1px 30px 60px rgba(16, 16, 16, 0.4);
    }

    #Artist {
        position: absolute;
        top: 50%;
        left: 50%;

        text-transform: uppercase;
        font-family: verdana;
        font-size: 3em;
        font-weight: 700;
        color: #34ebde;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #001f3f,
            1px 3px 1px #001f3f,
            1px 4px 1px #001f3f,
            1px 5px 1px #001f3f,
            1px 6px 1px #001f3f,
            1px 7px 1px #001f3f,
            1px 8px 1px #001f3f,
            1px 9px 1px #001f3f,
            1px 10px 1px#001f3f,
            1px 18px 6px rgba(16, 16, 16, 0.4),
            1px 22px 10px rgba(16, 16, 16, 0.2),
            1px 25px 35px rgba(16, 16, 16, 0.2),
            1px 30px 60px rgba(16, 16, 16, 0.4);
    }

    #infoImage {
        position: fixed;
        left: 22%;
        top: 22%;
        height: 55%;
        width: 25.5%;
        margin-top: 1vh;



        background-image: url(images/khalbaliI.jpg);
        background-size: cover;
        border-color: black;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        border: 5px white solid;
        animation: float 6s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    }

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }

        50% {
            transform: translateX(-25%) translateZ(0) scaleY(0.55)
        }

        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
    }

    .search {

        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        display: block;
        margin-left: 5%;
        width: 70%;
        border: none;
        background: rgb(0, 0, 0, 0.5);
        padding: 5px;
        height: 40px;

        outline: none;
        color: white;
        font-size: 15px;
    }

    .searchButton {
        width: 20%;
        height: 40px;
        border: none;
        background: rgb(0, 0, 0, 0.5);
        text-align: center;
        color: #fff;

        cursor: pointer;
        font-size: 15px;
        outline: none;
    }

    .searchButton:hover {
        background: green;
    }

    @media only screen and (max-width:992px) {
        .musicCard {
            width: 40%;
            margin-left: 45px;
            margin-bottom: 25px;
        }

        .col2 {

            margin-top: 13%;
        }
        #text
        {
            top: 60%;
            left: 25%;
          font-size: 2em;
        }
      #Artist
        {
            top: 68%;
            left: 55%;
            font-size: 1.8em;
        }
         #infoImage{
             margin-top: -105px;
        height: 45%;
        width: 42.5%;
        }
        .menuBar
        {
        font-size: 16px;
        }
         .thumbnail
        {
            margin-left: 10px;
        }
        .sname
        {
            width: 15%;
            font-size: 15px;
        }
        .volumeSlider
        {
            width: 20%;
        }
    }

    @media only screen and (max-width:600px) {
         #minbar:checked ~ .menuBar {
        width: 10%;
    }
 #minbar:checked ~ .playlist {
        width: 90%;
    }

        .musicCard {
            width: 80%;

            margin: 20px 45px;
        }

        .col2 {

            margin-top: 20%;
        }
         #infoImage{
             margin-top: -85px;
        height: 45%;
        width: 47.5%;
        }
        #text
        {
             top: 55%;
          font-size: 2em;

        }
      #Artist
        {
            top: 63%;
            left: 50%;
            font-size: 1.5em;
        }
        .menuop{
        display: none;
    }
        .menu{
        text-align: center;
        text-indent: 0px;
    }

        .sname
        {
            width: 15%;
            font-size: 11px;
            display: none;
        }
        .songImg
    {
        display: none;
    }
        .progressBar
        {
            width: 42%;
            margin-left: 10px;
        }
        .minisname
        {
            display: block;
        }
        .volumeSlider
        {
            width: 48%;
           position: absolute;
            right: 5%;
            top: 7.5vh;
            display: block;
            height: 7.5vh;

        }
        .volumeSlider i {


        margin-top: 15px;
    }
        .options
        {
            height: 7.5vh;
            display: block;
           width: 45%;
            line-height: 7.5vh;
        }
        #volume {

        margin-top: 20px;
            width: 80%;
            margin-left: 10px;
    }

    }
@media only screen and (max-width:500px) {

    .menuBar{
        width: 25%;
    }
    .playlist
    {
        width: 75%;
    }
    .songImg
    {
        display: none;
    }
 #infoImage{
             margin-top: -85px;
     margin-left: 50px;
        height: 35%;
        width: 47.5%;
        }
    #Artist
        {

            font-size: 1.4em;
        }
    #text
        {

          font-size: 1.7em;

        }
}
    /*Resize the wrap to see the search bar change!*/
